<!DOCTYPE html>
<html>
  <head>
    <title>Quiz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<div id="page">
	  	<nav class="main" id="mainNav" role="navigation">
	        <a href="/">Home</a>
	        <a href="/quizzes">Quizzes</a>
	        <a href="/credits">Creditos</a>
		</nav>
		<section class="main" id="mainSection">
		    <h1>Bienvenido a Quiz</h1>
		    <p>La página web donde puedes crear tus propios quizzes</p>
	 	</section>
	    <footer class="main" id="mainFooter">
        	<a href="http://en.wikipedia.org/wiki/Quiz">Qué es un quiz?</a>
		</footer>
	</div>
  </body>
</html>
