<h1>Lista de Quizzes</h1>
<table id="quizzesIndex">
    <% for (var i in quizzes) { %>
    <% var quiz = quizzes[i]; %>
    <p>Pregunta Número <%= i %> - <%= quiz.question %> : <%= quiz.answer %></p>
    <% } %>
</table>